:hover a {
  color: #a020ef;
  border-bottom: 1px #a020ef;
}
:first-child a {
  color: #a020ef;
}

button:hover {
  background-color: white; /* Darker Green */
  /* box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2); */
  color: #a020ef;
  transform: translateY(-3px);
}

#register:hover {
  background-color: white; /* Darker Green */
  /* box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2); */
  color: #a020ef;
  transform: translateY(-3px);
}
